@import 'tailwindcss';
@import 'tw-animate-css';
@import './keyframes.css';
@import './print.css';

@custom-variant dark (&:is(.dark *));

:root {
  --radius: 0.625rem;
  --page-background: oklch(0.985 0 0);
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --primary: oklch(0.76 0.1924 264.81);
  --primary-foreground: oklch(0.61 0.1662 264.81);
  --secondary: oklch(0.81 0.1068 25.29);
  --secondary-foreground: oklch(0.71 0.1845 21.9);
  --tertiary: oklch(0.93 0.0983 176.5);
  --tertiary-foreground: oklch(0.76 0.1476 166.86);

  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
  --screen-height: min(100vh, 100dvh);
}

.dark {
  --page-background: oklch(0.2 0 0);
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --primary: oklch(0.76 0.1924 264.81);
  --primary-foreground: oklch(0.61 0.1662 264.81);
  --secondary: oklch(0.81 0.1068 25.29);
  --secondary-foreground: oklch(0.71 0.1845 21.9);
  --tertiary: oklch(0.93 0.0983 176.5);
  --tertiary-foreground: oklch(0.76 0.1476 166.86);

  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --text-xxs: 0.5rem;
  --text-sm: 0.875rem;
  --text-md: 1rem;
  --color-page-background: var(--page-background);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-tertiary: var(--tertiary);
  --color-tertiary-foreground: var(--tertiary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --aspect-iphone-15pro: 1179 / 2556;
  --font-mono: 'Sono', monospace;
  --font-body: 'Sono', monospace;
  --font-document: 'Inter', sans-serif;
  --font-handwritting-heading: 'Caveat Brush', cursive;
  --font-handwritting-body: 'Caveat Brush', cursive;
  /*--font-body: 'Sono', monospace;*/
  --font-heading: 'Sono', monospace;
}

@utility will-change-transform {
  will-change: transform opacity;
}

@utility will-change-opacity {
  will-change: transform;
}

@utility font-body {
  font-variation-settings: 'MONO' 0;
}

@utility font-mono {
  font-variation-settings: 'MONO' 1;
}

@utility font-heading {
  /*font-optical-sizing: auto;*/
  font-variation-settings: 'MONO' 0;
}

@utility text-fill-transparent {
  -webkit-text-fill-color: transparent;
}

@utility cursor-default {
  cursor: url(/svgs/pointer-fill.svg), default;
}

@utility cursor-pointer {
  cursor: url(/svgs/click.svg), pointer !important;
}

@utility cursor-not-allowed {
  cursor: url(/svgs/pointer-off.svg), not-allowed !important;
}

@utility cursor-O {
  cursor: url(/svgs/pointer-off.svg), not-allowed !important;
}

@utility cursor-X {
  cursor: url(/svgs/pointer-off.svg), not-allowed !important;
}

@layer base {
  * {
    @apply border-border outline-ring/50 ease-in;
  }
  body {
    @apply cursor-default bg-page-background text-foreground;
  }
  :root {
    @apply bg-page-background;
  }

  h1 {
    @apply font-heading text-5xl font-medium text-primary-foreground md:text-6xl lg:text-7xl;
  }

  h2 {
    @apply font-heading text-3xl font-medium text-foreground md:text-4xl lg:text-5xl;
  }

  h3 {
    @apply font-heading text-2xl font-medium text-foreground md:text-3xl lg:text-4xl;
  }

  h4 {
    @apply font-heading text-xl font-medium text-foreground md:text-2xl lg:text-3xl;
  }

  p {
    @apply font-body text-md text-foreground md:text-lg 2xl:text-2xl;
  }

  q {
    @apply font-body text-md text-foreground;
  }
}

@utility transform-center {
  @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
}

@utility actionable {
  @apply cursor-pointer opacity-100 hover:opacity-75 focus-visible:opacity-50;
}

@utility full-h {
  min-height: var(--screen-height);
}

@utility opacity-start {
  opacity: 0.001;
}

@layer components {
  .section {
    @apply relative container mx-auto p-4 py-40 md:p-6 md:py-52 lg:max-w-4xl xl:max-w-4xl;
  }

  .chapter {
    --page-count: 1;
    --page-size: 100vh;
    min-height: calc(var(--page-size) * var(--page-count));
  }

  .page {
    @apply container max-w-screen md:max-w-[44vw] lg:max-w-4xl xl:max-w-4xl;
  }

  .halftone-alternate,
  .halftone {
    @apply isolate overflow-hidden;
    --stop1: 0.125rem;
    --stop2: 0.125rem;
    --size: 0.875rem;
    --color: currentColor;
  }

  .halftone::after {
    @apply absolute inset-0 -bottom-8;
    content: '';
    background-image: radial-gradient(
      circle at center,
      var(--color) var(--stop1),
      transparent var(--stop2)
    );
    background-size: var(--size) var(--size);
    background-repeat: round;
    background-position: center;
  }

  .halftone-alternate::after {
    @apply absolute inset-0 -bottom-8;
    content: '';
    background-image:
      radial-gradient(
        circle at center,
        var(--color) var(--stop1),
        transparent var(--stop2)
      ),
      radial-gradient(
        circle at center,
        var(--color) var(--stop1),
        transparent var(--stop2)
      );
    background-size: var(--size, 1rem) var(--size, 1rem);
    background-repeat: round;
    background-position:
      0 0,
      calc(var(--size) / 2) calc(var(--size) / 2);
  }

  .halftone-stripe {
    @apply isolate overflow-hidden;
    --stop1: 0.25rem;
    --stop2: 1rem;
    --size: 1rem;
    --color: currentColor;
  }

  .halftone-stripe::after {
    @apply absolute inset-0 -bottom-8;
    content: '';
    background-image: repeating-linear-gradient(
      to bottom,
      var(--color),
      var(--color) var(--stop1),
      transparent var(--stop1),
      transparent var(--stop2)
    );
  }

  .halftone-stripe-isometric {
    @apply isolate overflow-hidden;
    --stop1: 0.3rem;
    --stop2: 1rem;
    --color: currentColor;
  }

  .halftone-stripe-isometric::after {
    @apply absolute inset-0 -bottom-8;
    content: '';
    background-image: repeating-linear-gradient(
      -45deg,
      var(--color),
      var(--color) var(--stop1),
      transparent var(--stop1),
      transparent var(--stop2)
    );
    background-repeat: repeat;
    background-position: center;
  }

  .halftone-clip-text::after {
    @apply text-fill-transparent;
    background-clip: text;
    -webkit-background-clip: text;
  }

  .text-outline {
    --outline-width: 0.075em;
    --outline-color: white;
    -webkit-text-stroke: var(--outline-width) var(--outline-color);
  }
}
