@keyframes footprint {
  from {
    opacity: var(--opacity, 1);
  }
  to {
    opacity: 0;
  }
}

@keyframes jumping {
  from,
  10% {
    animation-timing-function: ease-out;
    transform: translate3d(-50%, 0, 0) scaleX(1) scaleY(1);
  }
  30% {
    animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
    transform: translate3d(-50%, 0, 0) scaleX(1.5) scaleY(0.7);
  }
  45% {
    animation-timing-function: cubic-bezier(1, 0, 1, 0.75);
    transform: translate3d(-50%, -400%, 0) scaleX(0.8) scaleY(1.3);
  }
  50% {
    animation-timing-function: cubic-bezier(1, 0, 1, 0.75);
    transform: translate3d(-50%, -400%, 0) scaleX(0.8) scaleY(1.3);
  }
  67% {
    animation-timing-function: ease-in-out;
    transform: translate3d(-50%, -50%, 0) scaleX(0.5) scaleY(1.5);
  }
  71% {
    animation-timing-function: ease-in-out;
    transform: translate3d(-50%, 0, 0) scaleX(1.5) scaleY(0.5);
  }
  77% {
    animation-timing-function: ease-in-out;
    transform: translate3d(-50%, 0, 0) scaleX(0.6) scaleY(1.4);
  }
  83% {
    animation-timing-function: ease-in-out;
    transform: translate3d(-50%, 0, 0) scaleX(1.2) scaleY(0.8);
  }
  89% {
    animation-timing-function: ease-in-out;
    transform: translate3d(-50%, 0, 0) scaleX(0.9) scaleY(1.1);
  }
  95%,
  to {
    animation-timing-function: ease-in-out;
    transform: translate3d(-50%, 0, 0) scaleX(1) scaleY(1);
  }
}
